* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
  background-color: #f8f8f8;
}

.inner {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 900;
  width: 142px;
  color: #f08300;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-list li {
  margin-right: 48px;
  font-weight: 600;
}

.side {
  display: flex;
  align-items: center;
}

.language {
  display: flex;
  margin-right: 25px;
  font-size: 12px;
  font-weight: 600;
}
.language :first-child {
  opacity: 50%;
  margin-right: 9px;
}

.side-img :first-child {
  margin-right: 5px;
}

.big-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 120px;
  position: relative;
}

.wood,
.build {
  display: flex;
  align-items: center;
  width: 450px;
  height: 280px;
  border-radius: 5%;
  margin-right: 25px;
}

.wood {
  background-color: #fa4b14;
}
.build {
  background-color: #fd820e;
}

.big-icon-text {
  display: flex;
  align-items: end;
  color: white;
  font-size: 35px;
  font-weight: 800;
}
.big-icon-text1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.wood-text,
.build-text {
  padding: 150px 0px 0 30px;
}
